.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
    border-right:0; 
    box-shadow:0 0 0; 
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
    color:#337ab7;
}
.stylish-input-group {
    margin-top: 13px;
}
.input-group-addon{
    padding-right: 6px;
    padding-left: 6px;
}
