<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.2.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

    <!-- 1. 使用 spring 组件扫描 -->
    <context:component-scan base-package="controller"/>

    <!--&lt;!&ndash;对特定的请求进行拦截（Token验证）&ndash;&gt;-->
    <!--<mvc:interceptors>-->
    <!--<mvc:interceptor>-->
    <!--<mvc:mapping path="/**/*"/>-->
    <!--<mvc:exclude-mapping path="/user/login"/>-->
    <!--<mvc:exclude-mapping path="/user/register"/>-->
    <!--<bean class="filter.TokenInterceptor"/>-->
    <!--</mvc:interceptor>-->
    <!--</mvc:interceptors>-->

    <!-- 2. 通过 annotation-driven 可以替代处理器映射器和适配器 -->
    <!-- 开启SpringMVC注解模式 -->
    <mvc:annotation-driven conversion-service="customConversionService">
        <!-- 消息转换器，添加对文字编码的全局处理，解决中文返回问号的毛病 -->
        <!--<mvc:message-converters register-defaults="true">-->
            <!--<bean id="customMessageConverter"-->
                  <!--class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">-->
                <!--<property name="supportedMediaTypes">-->
                    <!--<list>-->
                        <!--<value>application/json;charset=UTF-8</value>-->
                        <!--<value>application/xml</value>-->
                        <!--<value>application/rss+xml</value>-->
                        <!--<value>application/pdf</value>-->
                        <!--<value>application/octet-stream</value>-->
                        <!--<value>application/x-www-form-urlencoded</value>-->
                        <!--<value>application/atom+xml</value>-->
                        <!--<value>text/plain;charset=UTF-8</value>-->
                        <!--<value>text/html;charset=UTF-8</value>-->
                        <!--<value>text/xml</value>-->
                        <!--<value>text/event-stream</value>-->
                        <!--<value>text/markdown</value>-->
                        <!--<value>image/jpeg</value>-->
                        <!--<value>image/png</value>-->
                        <!--<value>image/gif</value>-->
                    <!--</list>-->
                <!--</property>-->
                <!--<property name="objectMapper">-->
                    <!--<bean class="com.fasterxml.jackson.databind.ObjectMapper">-->
                        <!--<property name="dateFormat">-->
                            <!--<bean class="java.text.SimpleDateFormat">-->
                                <!--<constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss"/>-->
                            <!--</bean>-->
                        <!--</property>-->
                    <!--</bean>-->
                <!--</property>-->
            <!--</bean>-->
        <!--</mvc:message-converters>-->
    </mvc:annotation-driven>
    <!-- 静态资源默认servlet配置 -->
    <mvc:default-servlet-handler/>
    <bean id="customConversionService"
          class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="converter.DateConverter"/>
            </set>
        </property>
    </bean>

    <mvc:resources mapping="/img/**" location="/img/"/>
    <mvc:resources mapping="/js/**" location="/js/"/>
    <mvc:resources mapping="/css/**" location="/css/"/>
    <mvc:resources mapping="/fonts/**" location="/fonts/"/>
    <mvc:resources mapping="/users/photo/**" location="/users/photo"/>
    <mvc:resources mapping="/images/**" location="file:D://images/"/>

    <!-- 3. 配置视图解析器 ViewResolver -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/view/"/>
        <property name="suffix" value=".html"/>
    </bean>

    <!--&lt;!&ndash; 文件上传 &ndash;&gt;-->
    <!--<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">-->
    <!--&lt;!&ndash; 设置上传文件的最大尺寸为 5MB &ndash;&gt;-->
    <!--<property name="maxUploadSize" value="5242880"/>-->
    <!--</bean>-->

    <bean id="multipartResolver" class="org.springframework.web.multipart.support.StandardServletMultipartResolver"/>

</beans>